@{
    ViewData["Title"]="Insert Page";

}
<div>
    <form method="post">
        Id=<input type="number" name="Id" class="form-control">
        Name=<input type="text" name="Name" class="form-control">
        Rate=<input type="text" name="Rate" class="form-control">
    <button type="submit">Submit</button>
    </form>
</div>